.salmon{
  position: absolute;
  top: 20px;
  right: 20px;
}
body{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding-left: 0px;
}

#cookiestandcreator{
  font-family: 'Cabin', sans-serif;
  float: left;
  margin: 20px;
  border-radius: 25px;
  max-width: 1920px;
  width: 36%;
  height:auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
}


h1{
  font-family: Arial;
}

h3{
  font-family: 'Cabin', sans-serif;
  margin: 0px;

}

.table{
  color: light gray;
}

table{
  font-family: 'Cabin', sans-serif;
  background: rgba(240, 240, 240, 0.8);
  border: solid black 1px;
  margin: 20px;
  border-radius: 25px;
  padding: 30px;
}

th{
  height: 60px;
  width: 100px
  border: solid black 1px;
}

.location{
    width: 200px;
}

td{
  padding: 20px;
  text-align: center;
  height: 30px;
  width: 120px;
  border: solid black 1px;
  border-radius: 60px;
  border-color: rgba(255,	255,	255, 0.0);
}
tr:hover td:not(:first-child){
  background-color: rgba(146,	181,	242, 0.8);
  border-color: rgba(146,	181,	242, 0.8);
  color: white;
  font-weight: bolder;
}
