.salmon{
  position: absolute;
  top: 20px;
  right: 20px;
}

body{
  margin: 0;
}

.header-box{
  background-image: url("images/hpBackGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 600px;
  display: table;
  width: 100%;
  margin: 0;
  z-index: -1;
  position: fixed;
}

.header{
  height: 600px;
  display: table;
  width: 100%;
  margin: 0;
  z-index: -2;
  background: rgba(240, 240, 240, 0.0);
  font-family: 'Pacifico', cursive;
}

.homepage{
  margin: 0;
  width: 100%;
  z-index: 1;
}

.bodyinfo{
  background-color: white;
  border-radius: 25px;
  max-width: 1920px;
  width: 80%;
  height:auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
  z-index: 1;
  font-family: 'Cabin', sans-serif;
  margin: 20px auto;
  width: 80%;
}

.body-background{
  background-color: white;
  z-index: 0;
  width: 100%;
}

h2{
    font-family: 'Cabin', sans-serif;
}
