body{
  margin: 0;
}

.header-box{
  background-image: url("images/cookie-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 600px;
  display: table;
  width: 100%;
  margin: 0;
  z-index: -2;
  position: fixed;
}

.header{
  height: 600px;
  display: table;
  width: 50%;
  margin: 0;
  z-index: -1;
  background: rgba(0 , 0, 0, 0.5);
  font-family: 'Pacifico', cursive;
  display:table-cell;
  vertical-align: middle;
}

.salmon{
  display: block;
  margin: auto;
  padding-top: 20px;
}

.homepage{
  margin: 0;
  width: 100%;
  z-index: 1;
}

.bodyinfo{
  background-color: white;
  border-radius: 25px;
  max-width: 1920px;
  width: 80%;
  height:auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
  z-index: 1;
  font-family: 'Cabin', sans-serif;
  margin: 0px auto;
  width: 80%;
}

.about-us{
  padding-top: 20px;
}

.body-background{
  background-color: white;
  z-index: 0;
  width: 100%;
}

h1{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 800%;
  text-align: center;
  margin: 0;
  /*text-shadow: 2px 2px grey;*/
}
h2{
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 26pt;
  text-align: center;
  margin: 0;
  /*text-shadow: 2px 2px grey;*/
}

h3{
  font-family: 'Cabin', sans-serif;
  color: black;
  font-size: 12pt;
  margin: 0;
}
