.salmon{
  position: absolute;
  top: 20px;
  right: 20px;
}
body{
  font-family: Georgia;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding-left: 0px;
}

#hoursandcookies{
  float: left;
  margin: 20px;
  border-radius: 25px;
  max-width: 1920px;
  width: 25%;
  height:auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
}

h1{
  font-family: Arial;
}

h3{
  font-family: 'Cabin', sans-serif;
  margin: 0px;

}

.table{
  color: light gray;
}

table{
  border: solid black 1px;
}

th{
  width: 60px
  border: solid black 1px;
}

td{
  text-align: center;
  height: 30px;
  border: solid black 1px;
}
