.page-header{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: table;
  width: 100%;
  margin: 0;
}

h1{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 800%;
  text-align: center;
  margin: 0;
  /*text-shadow: 2px 2px grey;*/
}
h2{
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 26pt;
  text-align: center;
  margin: 0;
  /*text-shadow: 2px 2px grey;*/
}

.salmon{
  display: block;
  margin: auto;
  padding-top: 20px;
}

.header-content{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display:table-cell;
  vertical-align: middle;
}

body{
  font-family: Georgia;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding-left: 0px;
  margin: 0;
}

#cookieshopbuild{
  font-family: 'Cabin', sans-serif;
  float: left;
  margin: 20px;
  border-radius: 25px;
  max-width: 600px;
  width: 36%;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
  margin: 0;
}

fieldset{
  font-size: 20px;
  border-radius: 10px 30px 10px 10px;
  height: 400px;
  line-height: 40px;
}

#hoursandcookies{
  float: left;
  margin: 20px;
  border-radius: 25px;
  max-width: 1920px;
  width: 25%;
  height:auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
}



h3{
  font-family: 'Cabin', sans-serif;
  margin: 0px;

}

.table{
  color: light gray;
}

table{
  font-family: 'Cabin', sans-serif;
  background: rgba(240, 240, 240, 0.8);
  border: solid black 1px;
  margin: 20px;
  border-radius: 25px;
  padding: 30px;
}

th{
  height: 60px;
  width: 100px
  border: solid black 1px;
}

.location{
    width: 200px;
}

td{
  padding: 20px;
  text-align: center;
  height: 30px;
  width: 120px;
  border: solid black 1px;
  border-radius: 60px;
  border-color: rgba(255,	255,	255, 0.0);
}
tr:hover td:not(:first-child){
  background-color: rgba(146,	181,	242, 0.8);
  border-color: rgba(146,	181,	242, 0.8);
  color: white;
  font-weight: bolder;
}
